.wrapper-templates {
	max-width: calc(1600px - 253px);
	width: 100%;
	padding: 48px 35px;
	background: #FFFFFF;

	h1 {

		font-weight: 600;
		font-size: 36px;
		line-height: 32px;
		color: #363636;
		margin-bottom: 20px;
	}

	.all-temp {
		display: flex;
		flex-wrap: wrap;

		.add-temp {
			margin-top: 24px;
			width: 232px;
			height: 322px;
			background: #F5F5F5;
			box-shadow: 0 12px 12px -8px rgba(97, 97, 97, 0.04);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {

				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				color: #363636;
				margin-top: 105px;
				text-align: center;
			}

			img {
				width: 72px;
				height: 72px;
				margin-top: 24px;
			}
		}

		.user-temp {
			margin-top: 24px;
			width: 232px;
			height: 322px;
			background: #F5F5F5;
			box-shadow: 0 12px 12px -8px rgba(97, 97, 97, 0.04);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 24px;


			&:nth-child(5n+1) {
				margin-left: 0;
			}

			p {

				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				color: #363636;
				margin-top: 32px;
				text-align: center;
			}

			img {
				margin-top: 25px;
				margin-bottom: 39px;
				width: 158px;
			}

			button {
				width: 160px;
				height: 38px;
				border: 1px solid #588cbb;
				box-sizing: border-box;
				border-radius: 31px;

				font-weight: 500;
				font-size: 14px;
				line-height: 14px;
				color: #588cbb;
				background: #F5F5F5;
			}
		}
	}
}