* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #588cbb;
  background: #588cbb;
}

button, input {
  border: none;
  outline: none;
}